body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #3c424e; /*#282c34;*/
  user-select: none;
}

/*---------------------------------------------*/
/* Colors by drawing priority (don't reorder!) */
/*---------------------------------------------*/

/* Ghost (lowest position of current piece) */
.g { background-color: #555555 }

/* Tetris standard pieces colors */
.i { background-color: aqua    }
.j { background-color: #6868ff } /* blue */
.l { background-color: orange  }
.o { background-color: yellow  }
.s { background-color: #17dc17 } /* green */
.t { background-color: fuchsia }
.z { background-color: red     }

/* Part of a complete line that will imminently disappear */
.x { background-color: whitesmoke }

/*-------------------------------------*/

.tetris-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.tetris {
  display: flex;
  position: relative;
  margin-top: -50px;
}

.tetris-grids {
  box-sizing: border-box;
  margin-left: 150px;
}

.tetris-pre-grid {
  height: 84px; /* 3 cells of 24 */
  border: 4px solid transparent;
  border-top: 0px;
  border-bottom: 0px;
  overflow: hidden;
}

.tetris-grid {
  background-color: #31353d;
  box-shadow: 0px 0px 20px 1px #a399bd;
  clip-path: inset(0.5px -100px -100px -100px);
  border: 4px solid #bdbdbd;
  border-top: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.tetris-grid.shake {
  animation: tilt-n-move-shaking 0.1s;
  animation-timing-function: ease-in-out;
}

@keyframes tilt-n-move-shaking {
  0%   { transform: translate(0px, 0px)  rotate(0deg); }
  25%  { transform: translate(0px, 4px)  rotate(0deg); }
  50%  { transform: translate(0px, 0)    rotate(0deg); }
  75%  { transform: translate(0px, -4px) rotate(0deg); }
  100% { transform: translate(0px, 0px)  rotate(0deg); }
}

.tetris-pre-grid .row,
.tetris-grid .row {
  clear: both;
}

.tetris-pre-grid .row .cell,
.tetris-grid .row .cell {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  float: left;
  border: 0.5px solid #222222;
}

.tetris-pre-grid .row .cell {
  border: 0.5px solid transparent;
}

/* Borders are useful for piece cells out of the main grid */
.tetris-pre-grid .i,
.tetris-pre-grid .j,
.tetris-pre-grid .l,
.tetris-pre-grid .o,
.tetris-pre-grid .s,
.tetris-pre-grid .t,
.tetris-pre-grid .z {
  border: 0.5px solid black !important
}

/* Hide external borders  */
.tetris-grid .row .cell:first-child {
  border-left: 0px;
}

.tetris-grid .row:last-child .cell {
  border-bottom: 0px;
}

.next-pieces {
  width: 150px;
  margin-top: 84px; /* height of pregrid */
}

.next-pieces h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  color: whitesmoke;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px 16px;
  opacity: 0.8;
}

.next-pieces .piece-row {
  clear: both;
}

.next-pieces .piece {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.next-pieces .piece-row .piece-cell {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  float: left;
  border-top: 0px;
  border-right: 0px;
}

.next-pieces .piece-row .piece-cell-full {
  border: 1px solid #222222;
}

.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00000044;
}

.game-over,
.pause {
  color: whitesmoke;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 1px 16px;
  margin-bottom: 140px; /* for better centering on game */
}

.game-over small {
  display: block;
  font-size: 42px;
}

.score {
  margin-top: 20px;
  color: whitesmoke;
  font-size: 45px;
  text-align: center;
  text-shadow: 1px 1px 16px;
  opacity: 0.8;
}

.score .level {
  font-size: 15px;
  color: #ababcd;
}
