body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #3c424e; /*#282c34;*/
  user-select: none;
}

.tetris-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.tetris {
  display: flex;
  position: relative;
}

.tetris-grid {
  box-sizing: border-box;
  margin-left: 150px;
  box-shadow: 0px 0px 20px 1px #a399bd;
  clip-path: inset(1px -100px -100px -100px);
  border: 4px solid #bdbdbd;
  overflow: hidden;
  border-top: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Tetris pieces colors */
.i { background-color: aqua    }
.j { background-color: #6868ff } /* blue */
.l { background-color: orange  }
.o { background-color: yellow  }
.s { background-color: #17dc17 } /* green */
.t { background-color: fuchsia }
.z { background-color: red     }

/* Special in-game colors */
.x { background-color: whitesmoke } /* Part of a complete line that will imminently disappear */
.g { background-color: #555555    } /* Ghost (lowest position of current piece) */

.tetris-grid .row {
  clear: both;
}

.tetris-grid .row .cell {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  float: left;
  border: 1px solid black; /*#050084;*/
  border-top: 0px;
  border-right: 0px;
}

/* Hide external borders  */
.tetris-grid .row .cell:first-child {
  border-left: 0px;
}

.tetris-grid .row:last-child .cell {
  border-bottom: 0px;
}

.next-pieces {
  width: 150px;
}

.next-pieces h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  color: whitesmoke;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px 16px;
  opacity: 0.8;
}

.next-pieces .piece-row {
  clear: both;
}

.next-pieces .piece {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.next-pieces .piece-row .piece-cell {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  float: left;
  border-top: 0px;
  border-right: 0px;
}

.next-pieces .piece-row .piece-cell-full {
  border: 1px solid #222222;
}

.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00000044;
}

.game-over,
.pause {
  color: whitesmoke;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 1px 16px;
  margin-bottom: 140px; /* for better centering on game */
}

.game-over small {
  display: block;
  font-size: 42px;
}

.score {
  margin-top: 20px;
  color: whitesmoke;
  font-size: 45px;
  text-align: center;
  text-shadow: 1px 1px 16px;
  opacity: 0.8;
}

.score .level {
  font-size: 15px;
  color: #ababcd;
}
